
<div >

  <!-- <img src="../../../assets/images/logo.png" width="300px"  /> -->
  <h1>Cadastrar projeto</h1>

  <!-- Custom Success/Error Message -->
  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

  <!-- Login Form -->
  <form [formGroup]="form" (submit)="onRegisterSubmit()">

    <!-- Project Name Field -->
    <div class="form-group">      
      <div [ngClass]="{'has-error': form.controls.name.errors && form.controls.name.dirty, 'has-success': form.controls.name.valid && form.controls.name.dirty }">
        <input class="form-control input-underline input-lg" type="text" placeholder="Nome do Projeto" name="name" formControlName="name" />
        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.name.errors?.required && form.controls.name.dirty">This field is required.</li>
        </ul>
      </div>
    </div>

    <!-- Endereço Field  -->
    <div class="form-group">
      <div [ngClass]="{'has-error': form.controls.address.errors && form.controls.address.dirty, 'has-success': form.controls.address.valid && form.controls.address.dirty }">
        <input class="form-control input-underline input-lg" type="text" placeholder="Endereço" name="address" formControlName="address" />
        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.address.errors?.required && form.controls.address.dirty">This field is required.</li>
        </ul>
      </div>
    </div>

    <!-- Endereço Field  -->
    <div class="form-group">
      <div [ngClass]="{'has-error': form.controls.BIMModel.errors && form.controls.BIMModel.dirty, 'has-success': form.controls.BIMModel.valid && form.controls.BIMModel.dirty }">
        <input class="form-control-file input-underline input-lg" type="file" placeholder="Importe modelo BIM" name="address" formControlName="BIMModel" />
        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.BIMModel.errors?.required && form.controls.BIMModel.dirty">This field is required.</li>
        </ul>
      </div>
    </div>

    <!-- Submit Button -->
    <input [disabled]="!form.valid || processing" class="btn btn-primary" type="submit" value="Cadastrar" />
  </form>

</div>