<div>

  <!-- <img src="../../../assets/images/logo.png" width="300px"  /> -->
  <h1>Registrar Materiais</h1>


  <div class="list-group" *ngIf="materials">
    <div class="btn-group" role="group" *ngFor="let material of materials">
      <button type="button" (click)="editMaterial(material)" class="list-group-item list-group-item-action col-lg-2">{{material.name}}</button>
      <button type="button" (click)="removeMaterial(material)" class="btn btn-secondary">x</button>
    </div>
  </div>


  <br>
  <br>
  <!-- Custom Success/Error Message -->
  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>


  <!-- Material Form -->
  <form [formGroup]="form" (submit)="onRegisterSubmit()">

    <!-- Material Name Field -->
    <div class="form-group">
      <div [ngClass]="{'has-error': form.controls.name.errors && form.controls.name.dirty, 'has-success': form.controls.name.valid && form.controls.name.dirty }">
        <label for="materialName" class="col-sm-2 col-form-label">Nome</label>
        <input class="form-control input-underline" type="text" placeholder="Nome do Funcionário" name="name" formControlName="name"
          id="materialName" />
        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.name.errors?.required && form.controls.name.dirty">Este campo é obrigatório.</li>
        </ul>
      </div>
    </div>


    <!-- Material Description Field -->
    <div class="form-group">
      <div [ngClass]="{'has-error': form.controls.description.errors && form.controls.description.dirty, 'has-success': form.controls.description.valid && form.controls.description.dirty }">
        <label for="materialDescription" class="col-sm-2 col-form-label">Descrição</label>
        <input class="form-control input-underline" type="text" placeholder="Descrição do Material" name="description" formControlName="description"
          id="materialDescription" />
        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.description.errors?.required && form.controls.description.dirty">Este campo é obrigatório.</li>
        </ul>
      </div>
    </div>

    <!-- Submit Button -->
    <input [disabled]="!form.valid || processing" class="btn btn-primary" type="submit" value="Cadastrar" />
  </form>

</div>