<div>

  <!-- <img src="../../../assets/images/logo.png" width="300px"  /> -->
  <h1>Registrar Funcionário</h1>

  <!-- Custom Success/Error Message -->
  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

  <div class="list-group" *ngIf="employees">
    <div class="btn-group" role="group" *ngFor="let employee of employees; let i = index">
      <button type="button" (click)="editEmployee(employee)" class="list-group-item list-group-item-action col-lg-2">{{employee.name}}</button>
      <button type="button" (click)="removeEmployee(employee, i)" class="btn btn-secondary">x</button>
    </div>
  </div>

  <br>
  <br>

  <!-- Employee Form -->
  <form [formGroup]="form" (submit)="onRegisterSubmit()">

    <!-- Employee Name Field -->
    <div class="form-group">
      <div [ngClass]="{'has-error': form.controls.name.errors && form.controls.name.dirty, 'has-success': form.controls.name.valid && form.controls.name.dirty }">
        <label for="employeeName" class="col-sm-2 col-form-label">Nome</label>
        <input class="form-control input-underline" type="text" placeholder="Nome do Funcionário" name="name" formControlName="name"
          id="employeeName" />
        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.name.errors?.required && form.controls.name.dirty">Este campo é obrigatório.</li>
        </ul>
      </div>
    </div>

    <!-- Role Field  -->
    <div class="form-group">
      <label class="col-sm-2 col-form-label">Perfil</label>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="role1" formControlName="role1"> Planejador
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="role2" formControlName="role2"> Supervisor
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="role3" formControlName="role3"> Colaborador Executor
        </label>
      </div>

    </div>


    <!-- Submit Button -->
    <input class="btn btn-primary" type="submit" value="Cadastrar" />
  </form>

</div>