<div>

  <!-- <img src="../../../assets/images/logo.png" width="300px"  /> -->
  <h1>Registrar Equipamentos</h1>

  <!-- Custom Success/Error Message -->
  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

  <div class="list-group" *ngIf="equipments">
    <div class="btn-group" role="group" *ngFor="let equipment of equipments">
      <button type="button" (click)="editEquipment(equipment)" class="list-group-item list-group-item-action col-lg-2">{{equipment.name}}</button>
      <button type="button" (click)="removeEquipment(equipment)" class="btn btn-secondary">x</button>
    </div>
  </div>


  <br>
  <br>

  <!-- Equipment Form -->
  <form [formGroup]="form" (submit)="onRegisterSubmit()">

    <!-- Equipment Name Field -->
    <div class="form-group">
      <div [ngClass]="{'has-error': form.controls.name.errors && form.controls.name.dirty, 'has-success': form.controls.name.valid && form.controls.name.dirty }">
        <label for="equipmentName" class="col-sm-2 col-form-label">Nome</label>
        <input class="form-control input-underline" type="text" placeholder="Nome equipamento" name="name" formControlName="name"
          id="equipmentName" />
        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.name.errors?.required && form.controls.name.dirty">Este campo é obrigatório.</li>
        </ul>
      </div>
    </div>


    <!-- Equipment Description Field -->
    <div class="form-group">
      <div [ngClass]="{'has-error': form.controls.description.errors && form.controls.description.dirty, 'has-success': form.controls.description.valid && form.controls.description.dirty }">
        <label for="equipmentDescription" class="col-sm-2 col-form-label">Descrição</label>
        <input class="form-control input-underline" type="text" placeholder="Descrição do equipamento" name="description" formControlName="description"
          id="equipmentDescription" />
        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.description.errors?.required && form.controls.description.dirty">Este campo é obrigatório.</li>
        </ul>
      </div>
    </div>

    <!-- Submit Button -->
    <input [disabled]="!form.valid || processing" class="btn btn-primary" type="submit" value="Cadastrar" />
  </form>

</div>